@{
    ViewData["Title"] = "Forescout Display Page";
}
<h1>@ViewData["Title"]</h1>

<p>I know this is probably not using a proper MVC based setup, but hell, for throwing
    together something in a few hours.....
    Anyhow this will use the ForeScout Wrapper assembly, which under the hood calls 

    <a href="https://api.jsonbin.io/b/601b663ed5aafc6431a3af5a/1">This url </a> which stashes some JSON.601b663ed5aafc6431a3af5a

    

</p>
<div>Property 1:  @ViewData["Property1"]</div>
<div>Property 2:  @ViewData["Property2"]</div>
