@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is my super terrible MVC website that will do some stuff with The ForeScoutWrapper</h1>
    <p>I was going to do a React/Redux app, but I didn't want to subject you to the fact that react/redux is
        a royal Pain in the ass to implement
    </p>
</div>
