@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is my super terrible MVC website </h1>
    <p>I was going to do a React/Redux app, but I didn't want to subject you to the fact that react/redux is
        a royal Pain in the ass to implement properly?
    </p>
    <p>In this case this is a .Net core MVC app that uses the Razor sub system. The ForeScout controller in this case
        accesses the wrapper code (ForeScoutWrapper) via something called "Dependency Injection" 
    </p>
    <p>
        The other element that I didn't quite have fully setup is the 
    </p>
</div>
